*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "product sans";
    font-weight: normal;
}
body{
   background: linear-gradient(to right,#0099ff , #00ff91); 
}
.span-two{
    background-color: crimson;
}
.cali-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}
.cali-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75)
}
.cali-grid > button:hover{    
    background-color: rgba(255, 255, 255, 0.9)
}
.span-two{
    grid-column: span 2 ;
}
.outputscrn{
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    word-wrap: break-word;
    word-wrap: break-all;
}
.outputscrn .previous{
    color: rgba(216, 216, 216, 0.75);
}
.outputscrn .current {
    color: white;
    font-size: 2.5rem;
}
