/* resetting stuff */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "product sans";
  font-weight: normal;
  border-radius: 0;
}
body{
  background: url(./light.jpg);
  background-position: center;
  background-size: cover;
}
.darkbody{
  background-image: url(./dark.jpg);
}
.span-two {
  background-color: crimson;
}
.cali-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.cali-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}
.span-two {
  grid-column: span 2;
}
/* output screen styles */
.outputscrn {
  grid-column: 1/ -1;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  word-wrap: break-word;
  word-wrap: break-all;
}
.outputscrn .previous {
  color: rgba(216, 216, 216, 0.75);
}
.outputscrn .current {
  color: white;
  font-size: 2.5rem;
}
/* effect for calci */
.cali-grid > button {
  color: hsl(222, 25%, 14%);
  transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.cali-grid > button:hover {
  transform: scale(1.05);
  color: hsl(234, 89%, 51%);
}

.cali-grid > button:active {
  transform: scale(0.9);
}
/* dark mode for calculator */
.dark > button {
  border: 1px solid rgb(100, 100, 100);
  background-color: rgba(0, 0, 0, 0.836);
  color: hsl(0, 0%, 100%);
  transition: color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.dark > button:hover {
  transform: scale(1.05);
  color: hsl(234, 100%, 70%);
  background-color: rgba(65, 65, 65, 0.822);
  border: none;
}

.dark > button:active {
  transform: scale(0.9);
}
/* Button at top to toggle dark mode */
.drkbtn {
  position: absolute;
  right: 0;
  margin: 20px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  border-radius: 10px;
}
.drkbtn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.btndarkmode {
  border: 1px solid rgb(31, 31, 31);
  background-color: rgba(0, 0, 0, 0.555);
  color: hsl(0, 0%, 100%);
  transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.btndarkmode:hover{
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.7);
}
.btndarkmode:active {
  transform: scale(1);
}
.blur{
  filter: blur(1.5rem);
}